{
  "root": true,
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "import"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true,
    },
    "ecmaVersion": 2015,
    "babelOptions": {
      "presets": ["@babel/preset-react"],
    },
  },
  "rules": {
    "no-undef": ["off"],
    "no-console": ["warn"],
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "import/order": [
      "error",
      {
        "groups": [
          ["builtin", "external"],
          "internal",
          "parent",
          "sibling",
          "index",
        ],
        "newlines-between": "always",
        "alphabetize": { "order": "asc" },
      },
    ],
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
